<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Default Modal</h1>
    <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        Hello from Normal Modal!
      </div>
    </div>
    <button class="button button-block button-balanced" ng-click="closeModal()">
      Close Modal
    </button>
  </ion-content>
</ion-modal-view>
